<div class="container-fluid px-4">
    <br />
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard v1.0</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"> <h2>55</h2></div>
                <a asp-controller="driver" asp-action="index">
                    <div class="card-footer d-flex align-items-center justify-content-between">

                        <span class="small text-white stretched-link">Total Patients Today</span>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>

                    </div>
                </a>
            </div>

        </div>
        <div class="col-xl-3 col-md-6">
        </div>
        <div class="col-xl-3 col-md-6">
        </div>
        <div class="col-xl-3 col-md-6">
        </div>
    </div>
   



</div>


